#about {
    margin: 50px 0;

    .about-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-flow: column;
        .about-img-container {
            width: 100%;
            img {
                width: 100%;
                object-fit: cover;
            }
        }
        .about-text-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            margin: 40px 0;
    
            h3 {
                padding: 10px;
            }
    
            p {
                padding: 10px 40px;
            }
        }
    }

}

@media only screen and (min-width: 915px) {
    #about {
        padding: 30px;
        .about-wrapper {
            flex-flow: row;
            .about-img-container {
                width: 50%;
            }
            .about-text-container {
                width: 50%;

                p {
                    padding: 10px 70px;
                }
            }
        }
    }
}