/////////////////////////
// Booking Screen One //
///////////////////////
.booking-wrapper {
  .booking-error {
    color: rgb(255, 76, 76);
    font-size: 18px;
    text-align: center;
  }

  margin-top: 100px;
  .bookingOne {
    font-family: "Inter", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;

    & h1 {
      font-size: 32px;
      font-weight: 900;
      text-align: center;
    }

    &__container {
      max-width: 500px;
      width: 100%;
      padding: 24px;

      &__form-wrapper {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 30px;

        &__h4 {
          font-weight: 500;
        }

        &__submit {
          background-color: #f0e700;
          border: none;
          width: 200px;
          height: 40px;
          border-radius: 4px;

          font-weight: 700;
          font-size: 14px;

          margin-top: 30px;
        }
      }
    }

    & .bookingOne-radio-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      max-width: 180px;

      &__custom {
        width: 75px;
        display: flex;
        justify-content: center;

        & > input {
          width: 50px;
          height: 35px;

          outline: none;
          border: none;
          border-bottom: 1px solid #f0e700;
          background-color: transparent;

          color: #fff;
          text-align: center;
          font-family: inherit;
          font-size: 12px;
          font-weight: 700;

          &::placeholder {
            color: #fff;
            opacity: 1;
            font-family: inherit;
          }

          &::-webkit-outer-spin-button,
          &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
          }
        }
      }
    }

    .bookingOne-date-container {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      gap: 10px;
      max-width: 190px;
    }
  }

  /////////////////////
  // Booking Screen Two
  /////////////////////
  .bookingTwo {
    font-family: "Inter", sans-serif;
    color: #fff;
    display: flex;
    justify-content: center;

    & h1 {
      font-size: 32px;
      font-weight: 900;
      text-align: center;
    }

    &__container {
      max-width: 500px;
      width: 100%;
      padding: 24px;

      &__form-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        & .bookingTwo__input-container {
          display: flex;
          flex-direction: column;
          gap: 10px;

          & > div {
            display: flex;
            justify-content: space-between;
            gap: 20px;
          }

          & .bookingTwo-text-input {
            border: none;
            background-color: transparent;
            border-bottom: 1px solid #f0e700;
            outline: none;
            padding: 10px 0px;
            width: 100%;

            font-family: inherit;
            color: #fff;
            font-weight: 500;
            font-size: 16px;

            &::placeholder {
              font-weight: 500;
              color: #fff;
              opacity: 1;
              font-family: inherit;
            }
          }
        }
        & .bookingTwo__radio-container {
          display: flex;
          flex-direction: column;

          & > div {
            display: flex;
            gap: 10px;
          }
        }

        &__submit {
          background-color: #f0e700;
          border: none;
          width: 200px;
          height: 40px;
          border-radius: 4px;

          font-weight: 700;
          font-size: 14px;

          margin-top: 20px;
        }
      }
    }
  }

  ////////
  // Radio
  ////////
  .booking-radio {
    display: block;
    border: 1px solid #f0e700;
    padding: 10px 12px;
    border-radius: 4px;
    cursor: pointer;

    & > input {
      display: none;
    }

    & > span {
      font-weight: 900;
      font-size: 14px;
    }
  }

  .booking-radio--disabled {
    cursor: default;
    opacity: 0.3;
  }

  .booking-radio.isChecked {
    background-color: #f0e700;
  }

  .booking-radio > span.isChecked {
    color: #000;
  }

  //////////////
  // Date picker
  //////////////
  .date-picker {
    border: 1px solid yellow;
    outline: none;
    background-color: transparent;
    color: #fff;
    padding: 10px 12px;
    border-radius: 4px;
    font-family: inherit;
    font-weight: bold;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    //display: none;
    //-webkit-appearance: none;
    fill: #fff;
    color: #fff;
    background-color: #fff;
  }
}

// .booking-wrapper {
//     margin-top: 100px;

//     .react-calendar {
//         padding: 45px;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-flow: column;
//         gap: 30px;

//         .react-calendar__navigation {
//             display: flex;
//             gap: 15px;
//             button {
//                 font-size: 1.5rem;
//                 color: white;
//                 border: none;
//                 background-color: black;
//                 text-transform: uppercase;
//             }
//             .react-calendar__navigation__arrow {
//                 font-size: 3rem;
//             }
//         }
//     }

//     .react-calendar__viewContainer {
//         .react-calendar__month-view {
//             .react-calendar__month-view__weekdays {
//                 margin-bottom: 6px;
//                 color: white;
//                 .react-calendar__month-view__weekdays__weekday {
//                     abbr {
//                         text-decoration: none;
//                     }
//                 }
//             }
//             .react-calendar__month-view__days {
//                 button {
//                     width: 40px;
//                     height: 50px;
//                     color: white;
//                     border: 1px solid white;
//                     background-color: black;
//                     transition: 350ms;
//                 }

//                 button:hover {
//                     color: black;
//                     background-color: #FFEF62;
//                     cursor: pointer;
//                 }
//             }
//         }
//     }

//     .booking-btns {
//         width: 100%;
//         display: flex;
//         justify-content: center;
//         align-items: center;
//         flex-flow: row;
//         gap: 60px;

//         .booking-btns-cancel {
//             color: white;
//             border: 1px solid #FFEF62;
//             background-color: black;
//         }

//         .booking-btns-pick {
//             color: black;
//             border: 1px solid #FFEF62;
//             background-color: #FFEF62;

//         }

//         button {
//             cursor: pointer;
//             padding: 9px 14px 9px 14px;
//             border-radius: 4px;
//             font-weight: bold;
//             transition: 350ms;

//             &:hover {
//                 color: black;
//                 background-color: #FFEF62;
//             }
//         }

//     }
// }
